
body{
    font-family: 'Montserrat', sans-serif;
    color: #212529;
    background-color: white;
    letter-spacing: 1px;
    position: relative;
}
html{
    font-size: 18px;
    scroll-behavior: smooth;
}
.div__big{
    width: 550px;
    height: 130px;
    border: 1.5px solid rgba(105, 31, 31, 0.5);
    padding-top: 20px;
    display: flex;
}
.age{
    margin-top: 10px;
}
.div__right{
    width: 70%;
}
.button{
    width: 150px;
    height: 100px;
    background-color: cornflowerblue;
    font-size: 18px;
}
.tab tr td {
    padding-left: 50px;
}
.tab td:first-child{
    padding: 0;
}



